@{
    ViewBag.Title = "Home Page";
}

<table border="1" class="table">
    <tr>
        <th>Name</th>
        <th>Decription</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Edit</th>

    </tr>
    @foreach (var item in ViewBag.Items)
    {
    <tr>
        <td>@item.name</td>
        <td>@item.decription</td>
        <td>@item.quantity</td>
        <td>@item.price</td>

        <td><a href="/Home/DeleteItem?itemid=@item.itemID" onclick="return confirm('You sure?')">Delete</a></td>

        <td><a href="/Home/ItemDetails?itemid=@item.itemID">Update</a></td>



    </tr>

    }



</table>